*{
    text-align: center;
    color: #000f08;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.imagen-viajes{
    max-width: 2.5%;
    margin-left: 35px;
}

.imagen-viajes, .texto-viajes{  /*OJO*/
    display: block;
}

.texto-viajes p{
    margin-left: 10px;
    margin-bottom: 1px;  /*OJO*/
    color: #ffffff;
}

.navbar-nav{
    font-family: 'Open Sans', sans-serif;
}

#contacto{
    scroll-behavior: smooth;
}

.fondo{
    background-color: #1798c1!important
}

.imagen{
    background-image: url('../img/'); /*OJO*/
}

.carousel2 {
    background-image: url('..');
}

.carousel3{
    background-image: url;
}

.my-navbar{
    border: 0;
    border-radius: 0;
}

.carousel-item{
    height: 85vh;
    min-height:350px;
    background: no-repeat;   /*OJO*/
    background-size:cover;
                /* OJO */


}

.font-weight-light{
    font-family: 'Source Serif Pro', serif;
}

.card-body{
    background-color: #1798c1;
}

.card-body h5, p{
    color: #ffffff;
    text-align: left;
}

.card .card1{
    background-color: black;
}

.card{
    margin: 0 auto;   /*OJO*/
}

.parrafos{
    display: block;
    text-align: left;
    margin: 0 1em;
}

.color{
    background-color:black;
    padding:10px;
}

.fa-plane, .fa-car, .fa-anchor{
    /* height: 35px; */
    color: white;
    background-color: #1798c1;
    padding-left:140px;
    padding-right: 140px;
    font-size: 150%;
    margin: 0 auto;
    margin-right: 10px
}

.card{
    margin-right: 10px;
}

.card:last-of-type{
    margin-right: 0;
}

.somos{
    background-color: black;
}

h1{
    color: #ffffff!important;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

hr{
    height: 3px;
    color:#1798c1;
    background-color: #1798c1;
    margin-left: 35px;
    margin-right: 35px
}

.textos{
    color: #ffffff; /*OJO*/
    text-align: left;
}

.typeform-widget{
    display: block;
    margin-left: auto;
    margin-right:auto;
    width:50%;
    padding-top:50px;
    padding: 40px 0;
}

@media (max-width:1200px){
    .card{
        margin: left 15px;
        margin-bottom: 23px;
    }
}

@media (max-width:1200px){
    .navbar-toggler{
    position: relative;
    left: 20px;  
    }
}

@media (max-width:1200px) {
    .foot {
    position: relative;
    right: 28px;
}

@media (max-width:768px){
    .imagen-viajes{    
        max-width: 10%;  /*OJO*/
    }
}

@media (max-width:768px){
    .navbar-bar .ml-auto, a{
        text-align: left;
    }
}

@media (max-width:768px){
    .texto-viajes{
        margin-right: 80px;
    }
}

.container {
    max-width:100%;
    width: 100%;
}

.col-md-3{
    width:100%;
    float:left;
    margin:0;
  }
}

.card {
  margin: 0 auto;
  float: none; 
}

.fondo-footer {
  background-color: black;
}

h2 {
  color: white;
  text-align: center;
  font-size:2.5em;
  vertical-align: middle;
  padding-top: 25px;
  padding-bottom: 15px;
}

h3 {
  color: white;
  text-align: center;
  font-size:2.5em;
  vertical-align: middle;
  padding-top: 300px;
}

h4 {
color: white;
font-size: 1.5em;

}

.fa-2x {
  margin: 0 0.3em;
  color: white;
}
